@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans+Condensed:300,700|Open+Sans:400,800');

$clara: #ED7801;
$escura: #762823;
$branco: #FFF;

$titulo: "Open Sans Condensed", "Open Sans", Tahoma;
$texto: "Open Sans", Tahoma;

p {
	color: $clara;
	font: 14px $texto;
}

h1 {
	color: $escura;
	font: 36px $titulo;
}
h1::after {
    content: "";
    border: 5px solid #ED7801;
    width: 100px;
    display: block;
    margin: 20px auto;
}
h2 {
	color: $escura;
	font: 24px $titulo;
}

nav {
	ul {
		float: right;
		margin: 30px 10px;
		li {
			display: inline;
			a {
				color: $clara;
				text-decoration: none;
				padding: 10px 20px;
				font: 18px $titulo;
				transition: all 0.5s;
				font-weight: 700;
				&:hover {
					background: $escura;
				}
			}
		}
	}
}

header {
	background: url(../images/header.jpg);
	width: 100%;
	height: 600px;
}

body {
	margin: 0;
}

.logo {
	margin: 10px;
	float: left;
}

.msg {
	/*
	float: left;
	width: 400px;
	background: rgba( 0, 0, 0, 0.3 );
	text-align: center;
	margin: 50px;
	padding: 20px;
	border-radius: 5px;
	*/

 float: left;
 padding: 20px;
 background: rgba(0, 0, 0, 0.4);
 width: 500px;
 font-family: "Open Sans", Arial, Tahoma;
 text-align: center;
 margin: 80px 0px 0px 50px;
 border-radius: 5px;
 box-shadow: 1px 1px 5px #000;

 h1{
	 color: #762823;
     font-size: 3em;
     font-weight: 700;
     margin: 0;
  }

	p {
		color: #fff;
        font-size: 1.5em;
		color: $branco;
	  }

	  
}
.btn{
	  	    background: #ED7801;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            transition: all 0.5s;
             text-decoration: none;
            font-size: 0.8em;
	  }

.max {
	float: right;
	margin: -50px 20px;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.titulo {
	background: $escura;
	text-align: center;
	padding: 20px 0;
	h1 {
		color: $clara;
	}
}

.container {
	width: 960px;
	margin: auto;
}

.linha {
	display: flex;
	flex-wrap: wrap; 
}

.item {
	flex: 1;
	border: 1px solid #ccc;
	margin: 5px;
	text-align: center;
	transition: all 0.5s;
	&:hover {
		border-color: $escura;

	}
	img {
		width: 160px;
	}
	i {
		font-size: 50px;
		color: $escura;
		margin: 20px;
	}

	P{
	 	 font: italic normal normal 30px/1.4em 'libre baskerville',serif;
         line-height: 1.4em;
         color: #BC9B5D;
	}

	p::after {
    content: "";
    border: 5px solid #ED7801;
    width: 100px;
    display: block;
    margin: 20px auto;


	}
}

#local {
	background: url(../images/fogo.jpg) fixed no-repeat;
	padding: 40px 0;
	float: left;
	width: 100%;
	background-size: cover;
}

#menu {
	border: 1px solid $escura;
	color: $escura;
	padding: 10px;
	float: right;
	margin: 20px;
	display: none;
}

@media (min-width: 480px) and (max-width: 800px) {
	nav ul {
		width: 100%;
		float: left;
		background: $branco;
		display: none;
		li {
			display: block;
			a {
				padding: 20px 0;
				font-size: 20px;
				float: left;
				width: 100%;
			}
		}
	}

	#menu {
		display: block;
	}

	.container {
		width: 400px;
	}

	.msg {
		width: 350px;
		padding: 10px;

	}

	.max {
		display: none;
	}

	section, main {
		width: 100%;
	}
}

@media (max-width: 480px) {

}
.desitem{
    font: italic normal normal 20px/1.4em 'libre baskerville',serif;
        line-height: 1.4em;
    color: #BC9B5D;


}

.formContato {
   width: 100%; 
}  
.formContato input {  
   width: 90%;  
   margin-left: 40px;  
   margin-right: 30px;  
}  
.formContato textarea {  
   width: 90%;  
   margin-left: 40px;  
   margin-right: 10px;  
}  
.botaoContato {  
   margin-left: 40px;  
   margin-right: 10px;  
   margin-top: 1px; 
}  
.pgContato input {  
   padding-left: 20px;  
   color: #292929;  
   font-size: 18px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
   height: 40px;  
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.pgContato textarea {  
   padding-left: 20px;  
   color: #292929;  
   font-size: 18px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
   height: 200px;  
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.botaoContato {  
   border-radius: 4px;  
   color: #fff;  
   padding: 2px 40px;  
   height: 40px;  
   margin-top: 18px;  
   opacity: 0.9;  
   margin-bottom: 20px;  
   cursor: pointer;  
   background: #B22222;  
   display: inline-block;  
   border: none;  
   border-bottom: 1px solid #500707;  
   border-right: 1px solid #500707;  
}  
.botaoContato:hover {  
   opacity: 1.0;  
   transition: 1s;  
}
#sobre{
	width: 1000px;	
	height: 400px;	
	margin: 0 auto;

	

   img{
	width: 260px;	
	height: 239px;	
	margin-top: 20px;
	margin-right: 10px;
	border-radius: 100px;

   }
}

#topo {
	width: 1000px;	
	height: 79px;	
	/*background-color: #ffc;  Amarelo */	
	
}

#coluna_esquerda{	
	float: left;	
	width: 720px;	
	height: 270px;	
	/* background-color: #ccc; Cinza */

	p{
	 font: italic normal normal 22px/1.4em 'libre baskerville',serif;
     line-height: 1.4em;
     color: #BC9B5D;
    }
}


#coluna_direita {	
		float: right;	
		width: 280px;
		height: 270px;	
	/* 	background-color: #09f; */
}
#rodape {	
		width: 501px;	
		height: 49px;	
	/* 	background-color: #090; Verde */	
	}

#coluna_esquerda2{
		float: left;	
		width: 280px;
		height: 270px;	
	/*	background-color: #09f; */
	}


#coluna_direita2 {	
	float: right;	
	width: 720px;	
	height: 270px;	
	/* background-color: #ccc; Cinza */

	p{
	 font: italic normal normal 22px/1.4em 'libre baskerville',serif;
     line-height: 1.4em;
     color: #BC9B5D;
    }
}